<?xml version="1.0" encoding="UTF-8"?>

<!-- http://www.phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit
    backupGlobals               = "false"
    backupStaticAttributes      = "false"
    colors                      = "true"
    convertErrorsToExceptions   = "true"
    convertNoticesToExceptions  = "true"
    convertWarningsToExceptions = "true"
    processIsolation            = "false"
    stopOnFailure               = "false"
    syntaxCheck                 = "false"
    bootstrap                   = "./app/bootstrap.php.cache"
    strict                      = "true"
    verbose                     = "true" >

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>bundles/*/*Bundle/Tests</directory>
            <directory>bundles/*/Bundle/*Bundle/Tests</directory>
            <directory>src/*/*/Test</directory>
        </testsuite>
    </testsuites>

    <!--
    <php>
        <server name="KERNEL_DIR" value="/path/to/your/app/" />
    </php>
    -->

    <filter>
        <whitelist>
            <directory>src/</directory>
            <exclude>
                <directory>bundles/*/*Bundle/Resources</directory>
                <directory>bundles/*/*Bundle/Tests</directory>
                <directory>bundles/*/Bundle/*Bundle/Resources</directory>
                <directory>bundles/*/Bundle/*Bundle/Tests</directory>
                <directory>src/*/*/Test</directory>
            </exclude>
        </whitelist>
    </filter>

    <listeners>
        <listener class="\Mockery\Adapter\Phpunit\TestListener" />
    </listeners>

</phpunit>
