{% extends 'JobeetFinderBundle::layout.html.twig' %}

{%- block stylesheets -%}
    {{ parent() }}
    {% stylesheets 'css/job.css' %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block content -%}
<h1>Post a job</h1>

{{ include('JobeetFinderBundle:Job:form.html.twig', { 'form': form }) }}
{% endblock %}
